/* 自定义 Tab 样式 (LeetCode风格) */
.leetcode_tabs {
  display: flex;
  align-items: center;
  background-color: #303030; /* 深灰色背景 */
  padding: 0px 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* 确保没有该死的边距, 这个是库自带的`.margin-top--md`导致的间距, 就很烦 */
.leetcode_tabs_block .margin-top--md {
  margin-top: 0 !important;
}

/* 删除默认的选中下划线和背景 */
.leetcode_tabs .tabs__item {
  color: #656567; /* 未选中的字体颜色 */
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 0;
  position: relative;
  font-family: Menlo, sans-serif;
  font-size: 14px;
  text-decoration: none; /* 去除下划线 */
  border: none; /* 去除任何边框 */
}

/* 去掉选中状态下的下划线和背景色 */
.leetcode_tabs .tabs__item--active {
  color: #ffffff; /* 选中的字体颜色 */
  text-decoration: none; /* 确保没有下划线 */
  border: none; /* 去除边框 */
}

/* 添加选中项和非选中项的悬停效果 */
.leetcode_tabs .tabs__item:not(.tabs__item--active):hover {
  color: #ffffff; /* 悬停时，未选中的字体颜色变白 */
}

/* 分割线 */
.leetcode_tabs .tabs__item::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 14px;
  bottom: 14px;
  width: 2px;
  background-color: #555;
}

/* 去掉最后一个选项卡的分隔线 */
.leetcode_tabs .tabs__item:last-child::after {
  content: none;
}

/* 面板样式 */
/* 只修改 Tabs 内容区域的背景色 */
.leetcode_tabs .tabs__panel {
  background-color: #303030; /* 设置背景色为 #3C3C3C */
  padding: 16px;
  border: 1px solid #ddd;
  display: none;
  transition: opacity 0.3s ease;
}

/* 选中的 Panel */
.leetcode_tabs .tabs__panel--active {
  display: block;
}

/* ==== */

/* 删除多余的上边距，确保代码块紧贴顶部 */
.leetcode-tabs-content {
  background-color: #3C3C3C; /* 设置背景色 */
  padding: 8px; /* 为代码块添加内边距 */
}