/* 自定义 Tab 样式 (LeetCode风格) */
.leetcode_tabs {
  display: flex;
  align-items: center;
  background-color: #303030; /* 深灰色背景 */
  padding: 0px 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* 当前处于 tabs + vscode模式 */
.leetcode_tabst-on-vscode {
  display: flex;
  align-items: center;
  background-color: #303030; /* 深灰色背景 */
  padding: 0px 6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 确保没有该死的边距, 这个是库自带的`.margin-top--md`导致的间距, 就很烦 */
.leetcode_tabs_block .margin-top--md {
  margin-top: 0 !important;
}

/* 删除默认的选中下划线和背景 */
.tabs__item--active .tabs__item,
.leetcode_tabst-on-vscode .tabs__item,
.leetcode_tabs .tabs__item {
  color: #656567; /* 未选中的字体颜色 */
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 0;
  position: relative;
  font-family: Menlo, sans-serif;
  font-size: 14px;
  text-decoration: none; /* 去除下划线 */
  border: none; /* 去除任何边框 */
}

/* 去掉选中状态下的下划线和背景色 */
.leetcode_tabs .tabs__item--active {
  color: #ffffff; /* 选中的字体颜色 */
  text-decoration: none; /* 确保没有下划线 */
  border: none; /* 去除边框 */
}

/* 添加选中项和非选中项的悬停效果 */
.leetcode_tabst-on-vscode .tabs__item:not(.tabs__item--active):hover,
.leetcode_tabs .tabs__item:not(.tabs__item--active):hover {
  color: #ffffff; /* 悬停时，未选中的字体颜色变白 */
}

/* 分割线 */
.leetcode_tabs .tabs__item::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 12px;
  bottom: 12px;
  width: 2px;
  background-color: #656567;
}

/* 去掉最后一个选项卡的分隔线 */
.leetcode_tabs .tabs__item:last-child::after {
  content: none;
}

/* === 下方矩形, 左右下带圆角 === */

/* 删除多余的上边距, 确保代码块紧贴顶部 */
.leetcode-tabs-content {
  background-color: #3C3C3C; /* 设置背景色 */
  padding: 8px; /* 为代码块添加内边距 */
  border-bottom-left-radius: 6.4px;
  border-bottom-right-radius: 6.4px;
}

.leetcode-tabs-content-on-vscode {
  background-color: #3C3C3C; /* 设置背景色 */
  padding: 8px; /* 为代码块添加内边距 */
}

/* === 被选择的组合代码块的标题 (此处仅为vscode作为语言标题) === */

.leetcode-vscode-title {
  color: #ffffff;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 0;
  position: relative;
  font-family: Menlo, sans-serif;
  font-size: 14px;
  text-decoration: none; /* 去除下划线 */
  border: none; /* 去除任何边框 */
}